<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello Coke</title>
</head>
<body>
<div class="topbar">
    <div class="lefttop">
        <h1>
            <a href="/">Coke Shop</a>
        </h1>
    </div>
    <div class="righttop">
        <a href="/login">로그인</a>
        <a href="/member/new">회원가입</a>
        <a href="/members">회원정보</a>
    </div>
    <div class="righttop2">
        <a href="/item/new">상품등록</a>
        <a href="/items">상품목록</a>
    </div>
    <div class="righttop3">
        <a href="/order/new">상품주문</a>
        <a href="/orders">주문내역</a>
    </div>
</div>
<div>
    <div class="topbar2">

    </div>
</div>
</body>
</html>