<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello Coke</title>
</head>
<body>
<div class="position-absolute top-50 start-50 translate-middle">
    <form th:action="@{/item/new}" th:object="${itemCreateDto}" method="post">
        <div class="input-group flex-nowrap">
            <label class="input-group-text" for="category">카테고리</label>
            <select name="category_Id" id="category" class="form-select">
                <option value="">카테고리선택</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}" />
            </select>
        </div>
        <div class="input-group flex-nowrap">
            <label class="input-group-text" th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
        </div>
        <div class="input-group flex-nowrap">
            <label class="input-group-text" th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요"
                   th:class="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect price</p>
        </div>
        <div class="input-group flex-nowrap">
            <label class="input-group-text" th:for="stockQuantity">수량</label>
            <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요"
                   th:class="${#fields.hasErrors('stockQuantity')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}">Incorrect stockQuantity</p>
        </div>
        <div class="input-group flex-nowrap">
            <label class="input-group-text" th:for="madeCompany">만든회사</label>
            <input type="text" th:field="*{madeCompany}" class="form-control" placeholder="만든회사를 입력하세요">
        </div>
        <div class="input-group flex-nowrap">
            <label class="input-group-text" th:for="releaseDate">출시일</label>
            <input type="text" th:field="*{releaseDate}" class="form-control" placeholder="출시일을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->
</body>
</html>